<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="header_icons"><li style="padding-right:50px;">Call us at 512-228-9657</li>
    <li><a href="http://twitter.com/redcrackle" target="_blank"><i class="social foundicon-twitter"></i></a></li>
    <li><a href="http://www.facebook.com/redcrackle" target="_blank"><i class="social foundicon-facebook"></i></a></li>
    <li><a href="http://plus.google.com/+RedcrackleUSA" target="_blank"><i class="social foundicon-google-plus"></i></a></li>
    <li><a href="https://www.linkedin.com/company/red-crackle" target="_blank"><i class="social foundicon-linkedin"></i></a></li>
    <li><a href="http://blocks.redcrackle.com/rss.xml" target="_blank"><i class="social foundicon-rss"></i></a></li>
</ul>
</body>
</html>