.md-layer-1-0-3 {
background: #c95c3b;
 color: #ffffff !important;
 text-align: left;
 font-size: 1.66666666667em;
}
.md-layer-1-0-4 {
background: #5e7ee0;
 color: #ffffff !important;
 font-size: 3.33333333333em;
}
.md-layer-1-1-1 {
background: #e8a531;
 color: #ffffff !important;
 font-size: 2.33333333333em;
}
.md-layer-1-1-2 {
background: #44c718;
 color: #ffffff !important;
 font-size: 1.66666666667em;
}
.md-layer-1-2-0 {
background: #d94a77;
 color: #ffffff !important;
 font-size: 2.5em;
}
.md-layer-1-2-1 {
color: #ffffff !important;
 font-size: 5em;
}
.md-layer-1-2-2 {
font-size: 1.5em;
 font-family: Open Sans;
}
.md-layer-1-2-3 {
color: #ffffff !important;
 font-size: 5em;
}
.md-layer-1-2-4 {
color: #ffffff !important;
 font-size: 5em;
}
.md-layer-1-2-5 {
color: #ffffff !important;
 font-size: 5em;
}
.md-layer-1-2-6 {
color: #ffffff !important;
 font-size: 5em;
}
.md-layer-1-2-7 {
color: #ffffff !important;
 font-size: 5em;
}
.md-layer-1-2-8 {
color: #ffffff !important;
 font-size: 5em;
}
.md-layer-1-2-9 {
color: #ffffff !important;
 font-size: 5em;
}